/* Centering the root element and setting constraints */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style-type: none;
}

/* Flexbox for centering the header content */
.app-header {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Tabs styling */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: bold;
}

.tab-button.active {
  background-color: var(--accent-color);
  color: var(--highlight-color);
}

.tab-button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
}

.tab-content {
  margin-top: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
