:root {
  --background-color: #121212;
  --card-background-color: #1e1e1e;
  --text-color: #ffffff;
  --accent-color: #ff2e2e;  /* Dark red accent */
  --border-color: #333333;
  --highlight-color: #ff5656;
  --neutral-color: #999999;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  color: var(--accent-color);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: var(--card-background-color);
  padding: 2em;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 20px;
}

.match-header {
  color: var(--highlight-color);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: var(--card-background-color);
  padding: 1em;
  margin: 0.5em 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li img {
  border-radius: 4px;
  margin-right: 10px;
}

ul li strong {
  color: var(--accent-color);
}

.match-item {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--neutral-color);
  border-radius: 6px;
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--highlight-color);
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

p {
  color: var(--neutral-color);
}
