body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Center the form in the middle of the page */
  .login-register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 5%
  }
  
  .login-register-container h2 {
    color: var(--highlight-color);
    margin-bottom: 20px;
  }
  
  .login-register-form {
    background-color: var(--card-background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    border: 1px solid var(--border-color);
  }
  
  .login-register-form div {
    margin-bottom: 15px;
  }
  
  .login-register-form label {
    display: block;
    font-size: 14px;
    color: var(--neutral-color);
    margin-bottom: 5px;
  }
  
  .login-register-form input {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
  }
  
  .login-register-form input:focus {
    outline: none;
    border-color: var(--highlight-color);
  }
  
  .login-register-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-register-form button:hover {
    background-color: var(--highlight-color);
  }
  
  /* Toggle button */
  .login-toggle-button {
    margin-top: 1%;
    border-radius: 5px;
    background-color: var(--accent-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 14px;
  }
  
  .toggle-button:hover {
    color: var(--highlight-color);
  }
  
  .error-message {
    color: var(--red-accent-color);
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
  }