.match-history-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 8px;
  overflow-x: hidden; /* Prevent horizontal overflow for the container */
}

.match-history-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--accent-color);
  border-bottom: 2px solid var(--border-color);
}

/* Match card structure */
.match-card {
  background-color: var(--card-background-color);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  margin-bottom: 15px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.match-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.match-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.match-champion {
  display: flex;
  align-items: center;
  gap: 10px;
}

.champion-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid var(--champion-color);
}

/* KDA with color */
.kda-kills {
  color: #288A6F;
}

.kda-deaths {
  color: #FF4E50;
}

.kda-assists {
  color: #3273FA;
}

/* Damage */
.damage {
  color: #FF4E50;
}

/* Gold */
.gold {
  color: #E2BE2A;
}

/* Wards */
.wards {
  color: #CE9AFA;
}

/* CS */
.cs {
  color: #3273FA;
}

/* Participant teams */
.match-participants {
  display: flex;
  justify-content: space-between;
}

.team-section {
  display: block;
  overflow-x: auto;
  gap: 2%;
}

.participant-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.participant {
  display: grid;
  grid-template-columns: 40px 10% 15% 10% 10% 10% 10% 35%; /* Adjusted grid layout */
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.red-participant-icon {
  grid-column: 1;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--accent-color);
}

.blue-participant-icon {
  grid-column: 1;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--blue-accent-color);

}


.participant strong {
  grid-column: 2;
  color: var(--text-color);
}

.participant-grid-row {
  display: grid;
  grid-template-columns: 50px 150px 100px 100px 80px 80px 60px 250px;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.red-participant-grid-champion img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid var(--red-accent-color);
}

.blue-participant-grid-champion img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid var(--blue-accent-color);
}

.participant-grid-summoner {
  font-weight: bold;
  color: var(--text-color);
  overflow-x: clip;
}

/* Items section */
.participant-grid-items {
  display: flex;
  gap: 5px;
}

.item-icons {
  display: flex;
  gap: 5px;
}

.item-icon {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.empty-item {
  background-color: #333;
}

/* Blue Team Styling */
.team.blue-team {
  background-color: rgba(11, 11, 182, 0.350); /* Light blue background */
  border-radius: 8px;
}

.team.red-team {
  background-color: rgba(182, 11, 11, 0.350); /* Light red background */
  border-radius: 8px;
}

.team.red-side {
  border-radius: 8px;
  background-color: rgba(182, 11, 11, 0.350);
}

.team.blue-side {
  border-radius: 8px;
  background-color: hsla(240, 89%, 38%, 0.350);
}

.team.red-side h4,
.team.blue-side h4 {
  color: var(--highlight-color);
  text-align: center;
  font-size: 1.2rem;
}

.match-details-summary {
  text-align: right;
}

.queue-info {
  text-align: right;
  font-size: 1.2rem;
  color: var(--neutral-color);
}

h2, h4 {
  color: var(--accent-color);
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
  color: #E2BE2A
}

h4 {
  font-size: 1.2rem;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

/* Small screen (Mobile & Tablets) */
@media (max-width: 768px) {
  .participant {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    overflow-x: auto;
  }
}

/* Larger screens */
@media (min-width: 769px) {
  .participant-grid-row {
    grid-template-columns: 6% 18% 7% 9% 9% 4% 6% 33%;
  }

  .participant-icon {
    width: 36px;
    height: 36px;
  }

  .item-icon {
    width: 28px;
    height: 28px;
  }
}

