/* Container for the search component */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 50%;
    border-radius: 8px;
  }
  
  /* Search form layout */
  .search-form {
    display: flex;
    align-items: center;
  }
  
  /* Input field styling */
  input {
    padding: 10px;
    border: 1px solid var(--border-color); /* Using your existing border color */
    border-radius: 4px;
    font-size: 16px;
    width: 150px;
    background-color: var(--background-color); /* Slightly darker background */
    color: var(--text-color); /* Using your existing text color */
  }
  
  /* Hash symbol styling */
  .hash-symbol {
    font-size: 20px;
    color: var(--text-color);
    margin-right: 5%;
  }
  
  /* Magnifying glass icon styling */
  .search-icon {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--neutral-color); /* Using your existing neutral color */
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hover effect for the icon */
  .search-icon:hover {
    color: var(--highlight-color); /* Use highlight color on hover */
  }
  
  
  /* Responsive design for mobile */
  @media (max-width: 900px) {
    .search-container.header {
      position: relative;
      top: 0;
      right: 0;
      max-width: 100%;
    }
  
    .search-form {
      flex-direction: column;
      gap: 5px;
    }
  
    .search-container.header input {
      width: 100%;
    }

    .search-container.header button {
      width: 100%;
    }

    .search-container.header .hash-symbol {
      display: none;
    }

    .search-container.header .search-icon {
      padding: 10px 0;
    }

    .search-container.header .search-icon:hover {
      color: var(--highlight-color);
    }

    .search-container.header {
      border-radius: 0;
    }

    .search-container.header input {
      border-radius: 0;
    }

    .hash-symbol {
      display: none;
    }
  }
  