.item-with-tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
    z-index: 1;
    font-size: 12px;
    width: 150px;
    text-align: center;
    top: 100%; /* Position the tooltip below the icon */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .item-icon {
    position: relative;
    z-index: 0;
  }